<div class="container mt-5">
  <div class="container mt-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-header bg-primary text-white">
        <h3 class="card-title mb-0">Token Balances</h3>
      </div>
      <div class="card-body">
        <table class="table table-bordered text-center">
          <tbody>
            <tr>
              <th scope="row" class="font-weight-bold">Account ID</th>
              <td class="font-weight-bold">{{ accountId }}</td>
            </tr>
            <tr>
              <th scope="row" class="font-weight-bold">MPT Balance</th>
              <td class="font-weight-bold">{{ mptBalance }}</td>
            </tr>
            <tr>
              <th scope="row" class="font-weight-bold">MST Balance</th>
              <td class="font-weight-bold">{{ mstBalance }}</td>
            </tr>
            <tr>
              <th scope="row" class="font-weight-bold">Staked Amount</th>
              <td class="font-weight-bold">{{ stakes }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-4">
    <button class="btn btn-primary mx-2" (click)="toggleForm('sendTokens')">
      Send Tokens
    </button>
    <button class="btn btn-success mx-2" (click)="toggleForm('stakeTokens')">
      Stake Tokens
    </button>
    <button
      *ngIf="stakes > 0"
      class="btn btn-danger mx-2"
      (click)="toggleForm('unstakeTokens')"
    >
      Unstake Tokens
    </button>
    <button
      *ngIf="stakes > 0"
      class="btn btn-info mx-2"
      (click)="toggleForm('claimRewards')"
    >
      Claim Rewards
    </button>
    <button class="btn btn-warning mx-2" (click)="toggleForm('addFavorite')">
      Add Favorite
    </button>
    <button class="btn btn-info mx-2" (click)="toggleForm('favorites')">
      My Favorites
    </button>
  </div>

  <!-- Add Favorite Form -->
  <div *ngIf="showAddFavoriteForm" class="card mb-4">
    <div class="card-header">
      <h3 class="card-title">Add Favorite</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="favoriteForm" (ngSubmit)="addFavorite()">
        <div class="form-group mb-3">
          <label for="alias">Alias</label>
          <input
            id="alias"
            class="form-control"
            formControlName="alias"
            type="text"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="accountId">Account ID</label>
          <input
            id="accountId"
            class="form-control"
            formControlName="accountId"
            type="text"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="favoriteForm.invalid || favoriteSpinner"
        >
          Add Favorite
          <span
            *ngIf="favoriteSpinner"
            class="spinner-border spinner-border-sm ms-2"
          ></span>
        </button>
      </form>
    </div>
  </div>

  <!-- My Favorites List -->
  <div *ngIf="showFavorites" class="card p-4 mb-4">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Alias</th>
            <th scope="col">Account ID</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let favorite of favorites">
            <td>{{ favorite.alias }}</td>
            <td>
              {{ favorite.accountId }}
              <button
                class="btn btn-outline-secondary btn-sm ms-2"
                (click)="copyToClipboard(favorite.accountId)"
              >
                Copy
              </button>
            </td>
            <td>
              <button
                class="btn btn-danger btn-sm"
                (click)="removeFavorite(favorite.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Send Tokens Form -->
  <div *ngIf="showSendTokensForm" class="container mt-5">
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-primary text-white">
        <h3 class="card-title mb-0">Send Tokens</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="transferForm" (ngSubmit)="sendTransaction()">
          <div class="form-group form-check mb-4 center">
            <div class="form-check form-switch text-center">
              <input
              style="height: 10px; width: 2rem;"
                class="form-check-input"
                type="checkbox"
                formControlName="useAlias"
                id="useAlias"
                [(ngModel)]="useAlias"
              />
              <label class="form-check-label mx-4 ms-2 h3" for="useAlias">
                Use Alias
              </label>
            </div>
          </div>

          <div class="form-group mb-4" *ngIf="!useAlias">
            <label for="recipientAccountId" class="form-label"
              >Recipient Account ID</label
            >
            <input
              type="text"
              id="recipientAccountId"
              class="form-control form-control-lg"
              formControlName="recipientAccountId"
              required
            />
          </div>
          <div class="form-group mb-4" *ngIf="useAlias">
            <label for="favoriteAlias" class="form-label">Select Alias</label>
            <select
              id="favoriteAlias"
              class="form-select form-select-lg"
              formControlName="favoriteAlias"
              required
            >
              <option
                *ngFor="let favorite of favorites"
                [value]="favorite.alias"
              >
                {{ favorite.alias }}
              </option>
            </select>
          </div>
          <div class="form-group mb-4">
            <label for="transactionAmount" class="form-label">Amount</label>
            <input
              type="number"
              id="transactionAmount"
              class="form-control form-control-lg"
              formControlName="transferAmount"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-lg w-100"
            [disabled]="sendSpinner"
          >
            Send
            <span
              *ngIf="sendSpinner"
              class="spinner-border spinner-border-sm ms-2"
            ></span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Stake Tokens Form -->
  <div *ngIf="showStakeTokensForm" class="card mb-4">
    <div class="card-header">
      <h3 class="card-title">Stake Tokens</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="stakeTokens()">
        <div class="form-group mb-3">
          <label for="stakeAmount">Amount</label>
          <input
            type="number"
            id="stakeAmount"
            class="form-control"
            [(ngModel)]="stakeAmount"
            name="stakeAmount"
            required
          />
        </div>
        <button type="submit" class="btn btn-success" [disabled]="stakeSpinner">
          Stake
          <span
            *ngIf="stakeSpinner"
            class="spinner-border spinner-border-sm ms-2"
          ></span>
        </button>
      </form>
    </div>
  </div>

  <!-- Unstake Tokens Form -->
  <div *ngIf="showUnstakeTokensForm" class="card mb-4">
    <div class="card-header">
      <h3 class="card-title">Unstake Tokens</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="unstakeTokens()">
        <div class="form-group mb-3">
          <label for="unstakeAmount">Amount</label>
          <input
            type="number"
            id="unstakeAmount"
            class="form-control"
            [(ngModel)]="unstakeAmount"
            name="unstakeAmount"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-danger"
          [disabled]="unstakeSpinner"
        >
          Unstake
          <span
            *ngIf="unstakeSpinner"
            class="spinner-border spinner-border-sm ms-2"
          ></span>
        </button>
      </form>
      <button
        class="btn btn-warning mt-3"
        (click)="unstakeAllTokens()"
        [disabled]="unstakeSpinner"
      >
        Unstake All
        <span
          *ngIf="unstakeSpinner"
          class="spinner-border spinner-border-sm ms-2"
        ></span>
      </button>
    </div>
  </div>

  <!-- Claim Rewards Form -->
  <div *ngIf="showClaimRewardsForm" class="card mb-4">
    <div class="card-header">
      <h3 class="card-title">Claim Rewards</h3>
    </div>
    <div class="card-body">
      <button
        class="btn btn-info"
        (click)="claimRewards()"
        [disabled]="claimSpinner"
      >
        Claim Rewards
        <span
          *ngIf="claimSpinner"
          class="spinner-border spinner-border-sm ms-2"
        ></span>
      </button>
    </div>
  </div>
</div>
